# Class in OOP

In [1]:
a = 34
print(type(a))

<class 'int'>

In [2]:
b = 23
print(type(b))

<class 'int'>

In [3]:
c = 34.5
print(type(c))

<class 'float'>

In [4]:
d = "Etlhive"
print(type(d))

<class 'str'>

In [5]:
e = False
print(type(e))

<class 'bool'>

In [6]:
f = [1,2,3]
print(type(f))

<class 'list'>

In [7]:
g = (4,5,6)
print(type(g))

<class 'tuple'>

In [8]:
h = {
    "a": 1,
    "b": 2,
    "c": 3
}
print(type(h))

<class 'dict'>

In [9]:
import pandas as pd

In [10]:
emp = {
    "id":[1, 2, 3],
    "name":["Sarthak", "Raman", "Rahul"],
    "salary":[35000, 20000, 15000]
}
type(emp)

dict

In [23]:
emp_df = pd.DataFrame(emp)
emp_df

   id     name  salary
0   1  Sarthak   35000
1   2    Raman   20000
2   3    Rahul   15000

In [13]:
print(type(emp_df))

<class 'pandas.core.frame.DataFrame'>

### Attributes 
1. Shape
2. Columns
3. Index
4. dtypes
5. Values

In [14]:
emp_df.shape

(3, 3)

In [15]:
emp_df.columns

Index(['id', 'name', 'salary'], dtype='object')

In [16]:
emp_df.index

RangeIndex(start=0, stop=3, step=1)

In [17]:
emp_df.dtypes

id         int64
name      object
salary     int64
dtype: object

In [18]:
emp_df.values

array([[1, 'Sarthak', 35000],
       [2, 'Raman', 20000],
       [3, 'Rahul', 15000]], dtype=object)

### Functions

In [21]:
emp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      int64
 1   name    3 non-null      object
 2   salary  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

In [25]:
emp_df.sort_values(by="salary", ascending=False)

   id     name  salary
0   1  Sarthak   35000
1   2    Raman   20000
2   3    Rahul   15000

### Creating a user defined class

## self is any object of class person

In [26]:
class Person :

    # Create a constructor function to define attributes
    def __init__(self, name: str, age: int, gender: str, occupation: str):
        self.name = name
        self.age = age
        self.gender = gender
        self.occuoation = occupation

    # Create a method for class
    def introduce(self):
        print(f"Hi my name is : {self.name}")
        print(f"My age is : {self.age}")
        print(f"I am {self.gender}")
        print(f"I work as  {self.occuoation}")

In [28]:
p1 = Person(name="Sarthak", age=25, gender="male", occupation="HR")
print(type(p1))

<class '__main__.Person'>

In [29]:
p1

In [30]:
p1.name

'Sarthak'

In [31]:
p1.age

25

In [32]:
p1.gender

'male'

In [33]:
p1.occuoation

'HR'

In [35]:
p1.introduce()

Hi my name is : Sarthak
My age is : 25
I am male
I work as  HR

In [37]:
p2 = Person(name="Aditi", age=23, gender="Female", occupation="Engineer")
print(type(p2))

<class '__main__.Person'>

In [38]:
p2.name

'Aditi'

In [39]:
p2.age

23

In [40]:
p2.gender

'Female'

In [41]:
p2.occuoation

'Engineer'

In [43]:
p2.introduce()

Hi my name is : Aditi
My age is : 23
I am Female
I work as  Engineer