## How to check whether the triangle forms or not!
Sum of any two sides should be greater than third

In [1]:
from dataclasses import dataclass

In [2]:
@dataclass
class Triangle:
    a: int | float
    b: int | float
    c: int | float

    def is_triangle(self) -> bool:
        if (
            (self.a + self.b > self.c)
            and (self.b + self.c > self.a)
            and (self.a + self.c > self.b)
        ):
            return True
        else:
            return False
        
    def __post_init__(self):
        errors = []

        if not isinstance(self.a, (int, float)) or self.a <= 0:
            errors.append("Side a should be a positive int or float")
        if not isinstance(self.b, (int, float)) or self.b <=0:
            errors.append("Side b should be a positive int or float")
        if not isinstance(self.c, (int, float)) or self.c <=0:
            errors.append("Side c should be a positive int or float")
        if not self.is_triangle():
            errors.append("Given sides do not form a triangle")

        if errors:
            raise ValueError("\n".join(errors))
        
    def perimeter(self):
        return self.a + self.b + self.c 
    
    def area(self):
        s = self.perimeter()/2
        a = (s*(s-self.a)*(s-self.b)*(s-self.c))**(1/2)
        return a

In [3]:
t1 = Triangle(a=3,b=4,c=5)

In [4]:
t1

Triangle(a=3, b=4, c=5)

In [5]:
print(type(t1))

<class '__main__.Triangle'>

In [6]:
t1.a

3

In [7]:
t1.b

4

In [8]:
t1.c

5

In [9]:
p1 = t1.perimeter()
p1

12

In [10]:
a1 = t1.area()
a1

6.0

In [11]:
t2 = Triangle(a=11.5, b=12.3, c=13.1)
type(t2)

__main__.Triangle

In [12]:
t2

Triangle(a=11.5, b=12.3, c=13.1)

In [13]:
t2.a

11.5

In [14]:
t2.b

12.3

In [15]:
t2.c

13.1

In [16]:
p2 = t2.perimeter()
p2

36.9

In [17]:
a2 = t2.area()
a2

64.95387069875049

In [18]:
t3 = Triangle(-1, 2, 3)

ValueError: Side a should be a positive int or float
Given sides do not form a triangle

In [ ]:

t3 = Triangle(a=1, b=2, c=5)

ValueError: Given sides do not form a triangle

### Bank Account Example

In [19]:
from dataclasses import dataclass

In [21]:
@dataclass
class Account:
    ac_no: int
    name: str
    balance: float

    def show_current_balance(self):
        print(f"A/C no- {self.ac_no}, Name: {self.name}, Current Balance: {self.balance} INR")

    def deposite(self, amt:float):
        if amt <= 0:
            raise ValueError("Amount to be deposited cannit be negative")
        self.balance = self.balance + amt
    
    def withdraw(self, amt:float):
        if amt <= 0:
            raise ValueError("Amount withdrawdn cannot be negative or zero")
        if amt >= self.balance:
            raise ValueError("Insufficent Balance")
        
        self.balance = self.balance - amt
    def transfer(self, amt:float, ac):
        self.withdraw(amt)
        ac.deposite(amt)

In [22]:
a1 = Account(ac_no = 1234, name = "Sarthak", balance = 5000.0)

In [23]:
a1

Account(ac_no=1234, name='Sarthak', balance=5000.0)

In [24]:
a1.show_current_balance()

A/C no- 1234, Name: Sarthak, Current Balance: 5000.0 INR

In [25]:
a1.deposite(300)

In [26]:
a1.show_current_balance()

A/C no- 1234, Name: Sarthak, Current Balance: 5300.0 INR

In [27]:
a1.withdraw(500.0)

In [28]:
a1.show_current_balance()

A/C no- 1234, Name: Sarthak, Current Balance: 4800.0 INR

In [29]:
a1.withdraw(5000.0)

ValueError: Insufficent Balance

### a2 wants to transfer to a1

In [30]:
a1.balance

4800.0

In [32]:
a2 = Account(ac_no=4567, name="Aditi", balance=1000.0)
a2

Account(ac_no=4567, name='Aditi', balance=1000.0)

In [33]:
a2.show_current_balance()

A/C no- 4567, Name: Aditi, Current Balance: 1000.0 INR

In [34]:
a1.show_current_balance()

A/C no- 1234, Name: Sarthak, Current Balance: 4800.0 INR

In [35]:
a1.transfer(700.0, a2)

In [36]:
a1.balance

4100.0

In [37]:
a2.balance

1700.0

In [38]:
a1.transfer(4500.0,a2)

ValueError: Insufficent Balance

In [39]:
a2.transfer(1200.0,a1)

In [40]:
a1.show_current_balance()

A/C no- 1234, Name: Sarthak, Current Balance: 5300.0 INR

In [41]:
a2.show_current_balance()

A/C no- 4567, Name: Aditi, Current Balance: 500.0 INR

In [42]:
a = [1,2,3,4]
b= [5,6,7]
a.extend(b)
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7]
[5, 6, 7]

In [44]:
a = [1,2,3,4]
b= [5,6,7]
b.extend(a)
print(a)
print(b)

[1, 2, 3, 4]
[5, 6, 7, 1, 2, 3, 4]